<form>

    <div class="content">

        <h2>Conecte-se em <span><strong>SindHub</strong></span></h2>
        <h3>Entre com os dados da sua conta abaixo</h3>

        <input
            type="email"
            id="email"
            name="email"
            placeholder="e-mail"
            formControlName="email"
        />
    
        <input
            type="password"
            id="password"
            name="password"
            placeholder="senha"
            formControlName="password"
        />
    
        <button
        id="btn-login"
        >
            Entrar
        </button>
    
        <a
            class="forgot-password"
            (click)="togglePasswordArea()"
        >
            Esqueceu a senha?
        </a>
    
    </div>

</form>