<form>

    <div class="content">

        <h3>login</h3>
        <h2>bem vindo(a) de volta</h2>

        <input
            type="email"
            id="email"
            name="email"
            placeholder="e-mail"
            formControlName="email"
        />
    
        <input
            type="password"
            id="password"
            name="password"
            placeholder="senha"
            formControlName="password"
        />
    
        <button
        id="btn-login"
        >
            Entrar
        </button>
    
        <a
            class="forgot-password"
            (click)="togglePasswordArea()"
        >
            Esqueceu a senha?
        </a>
    
    </div>

</form>