<div class="logo">
    <h1>
        sind
        <br>
        hub
    </h1>
    <h2>
        SindHub!
    </h2>
</div>

<div class="login-form" *ngIf="showLoginForm">
    <app-login-form></app-login-form>
    <a
    class="toggle-register" 
    (click)="toggleRegisterForm()">
    Não possui uma conta?
    <span> Registre agora!</span>
    </a>
</div>

<div class="register-form" *ngIf="showRegisterForm">
    <app-register-form></app-register-form>
    <a
    class="toggle-login"
    (click)="toggleLoginForm()">
    voltar
    </a>
</div>