.logo {
    height: 35vh;
    position: relative;
}

.logo h1 {
    margin: 0;
    color: rgba(255, 255, 255, 0.074);
    font-family: "Chelsea Market", serif;
    font-size: 15rem;
    line-height: 0.7;
    text-align: center;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.logo h2 {
    position: relative;
    z-index: 2;
    color: white;
    padding-left: 20px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", serif;
    font-size: 3.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: #BFFB4F;
    height: 65vh;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding: 40px;
    z-index: 1;
    position: relative;
    width: 100%;
}

.login-form a {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    font-family: "Archivo", serif;
    font-weight: 400;
    white-space: pre;
}

.login-form span {
    text-decoration:underline;
    text-underline-offset: 4px;
}

.toggle-login {
    
}

.register-form {
    background-color: #BFFB4F;
    height: 65vh;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding: 40px;
    z-index: 1;
    position: relative;
    width: 100%;
}

.toggle-login {
    font-family: "Archivo", serif;
    font-weight: 400;
    text-decoration:underline;
    text-underline-offset: 4px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}