form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register-content {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

form h2 {
    font-family: "Roboto", serif;
    margin-bottom: 20px;
    font-size: 1.05rem;
    font-weight: 400;
}

form input {
    display: flex;
    margin: auto;
    width: 350px;
    height: 60px;
    border-radius: 17px;
    margin-bottom: 15px;
    border: none;
    padding-left: 20px;
    font-size: 1.2rem;
    font-family: "Archivo", serif;
}

form input::placeholder {
    font-size: 1.2rem;
    vertical-align: middle;
    font-family: "Archivo", serif;
    font-weight: 300;
}

#btn-register {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    margin:auto;
    width: 350px;
    height: 68px;
    border-radius: 35px;
    border: none;
    background-color: rgba(0, 0, 0, 0.459);
    color: rgba(255, 255, 255, 0.541);
    font-family: "Archivo", serif;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
    cursor: pointer;
}

@media (max-height: 608px) {
    form h2 {
      font-size: 1rem;
      margin-top: -30px;
    }

    form input {
        height: 50px;
    }

    form input::placeholder {
        font-size: 1.1rem;
    }

    #btn-register {
        height: 50px;
        padding-top: 15px;
    }

    .content a {
        margin-top: 15px;
        margin-bottom: 25px;
    }
}

@media (max-width: 425px) {
    form h2 {
        font-size: 0.9rem;
        margin-top: -30px;
      }
  
      form h3 {
          font-size: 0.8rem;
      }
  
      form input {
          width: 300px;
      }
  
      #btn-register {
          height: 50px;
          padding-top: 15px;
          width: 300px;
      }
  
      .content a {
          margin-top: 15px;
          font-size: 0.9rem;
      }
}